<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829113228309-pb3m5jimu744vqh1tc3j1hp813vt4ta5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829113228309-pb3m5jimu744vqh1tc3j1hp813vt4ta5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>829113228309-5ejd7ttq4luo86a9d6l4gpi1skdonci0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCS0CK4bG79c0Q0Th7BH6-Uq740inPy97k</string>
	<key>GCM_SENDER_ID</key>
	<string>829113228309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>myapp-8c478</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-8c478.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829113228309:ios:5642dd5413ba05103d421c</string>
</dict>
</plist>